# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# See https://stackoverflow.com/questions/5533050/gitignore-exclude-folder-but-include-specific-subfolder

# Ignore temp backups:
GetSimpleCMS - Copy

# Do not ignore folder:
!GetSimpleCMS/

# But ingore all folder content:
GetSimpleCMS/*

# However do not ignore folder: 
!GetSimpleCMS/data/
# Ignore all folder content: 
GetSimpleCMS/data/*
# ...with the exception of:
!GetSimpleCMS/data/other/
# Here, ignore everything:
GetSimpleCMS/data/other/*
#... except:
!GetSimpleCMS/data/other/components.xml

# However do not ignore folder: 
!GetSimpleCMS/theme/
# Ignore:
GetSimpleCMS/theme/.git/
GetSimpleCMS/theme/.gitignore

# Ignore all following files:
GetSimpleCMS/.htaccess
GetSimpleCMS/gsconfig.php
GetSimpleCMS/index.php
GetSimpleCMS/LICENSE.txt
GetSimpleCMS/readme.txt
GetSimpleCMS/robots.txt
GetSimpleCMS/rss.rss
GetSimpleCMS/sitemap.xml
README.md
