# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# See https://stackoverflow.com/questions/5533050/gitignore-exclude-folder-but-include-specific-subfolder

# Ignore temp backup:
GetSimpleCMS-Copy

# Ignore testfolder:
GetSimpleCMS-Test

# Do not ignore folder:
!GetSimpleCMS/

# But ingore all folder content:
GetSimpleCMS/*

# However do not ignore folder: 
!GetSimpleCMS/data/
# Ignore all folder content: 
GetSimpleCMS/data/*
# ...with the exception of:
!GetSimpleCMS/data/other/
# Here, ignore everything:
GetSimpleCMS/data/other/*
#... except:
!GetSimpleCMS/data/other/components.xml
# In addition, do not ignore
!GetSimpleCMS/data/pages/
# ... but ignore this folder:
GetSimpleCMS/data/other/autosave/


# However do not ignore folder: 
!GetSimpleCMS/theme/
# Ignore:
ReadMe_AA.md
GetSimpleCMS/theme/.git/
GetSimpleCMS/theme/.gitignore
GetSimpleCMS/theme/InnovationGrid/stylesheets/innovationgrid_base_bak.css
GetSimpleCMS/theme/InnovationGrid/stylesheets/innovationgrid_grid_aside-2r_bak.css
GetSimpleCMS/theme/InnovationGrid/stylesheets/innovationgrid_grid_aside-3r_bak.css

# Ignore all following files:
GetSimpleCMS/.htaccess
GetSimpleCMS/gsconfig.php
GetSimpleCMS/index.php
GetSimpleCMS/LICENSE.txt
GetSimpleCMS/readme.txt
GetSimpleCMS/robots.txt
GetSimpleCMS/rss.rss
GetSimpleCMS/sitemap.xml

