/* * * * * * * * * * * * * * * * * * * * * * * * * */
/* GRID (header & footer are outside of grid)      */
/* * * * * * * * * * * * * * * * * * * * * * * * * */


/* Small screens (mobil) */

.main-container {
	display: grid;
	grid:	"nav"	  	minmax(0px, auto)		/* 0px to allow nav to be hidden  */
			"main"  	minmax(100px, auto)
			"aside1"  	minmax(100px, auto)
			"aside2"  	minmax(100px, auto)
			/ 1fr ;
}
nav.menu-tree {
	height: 0;				/* is replaced by 'burger-menu' */
}
div.section h2,
div.section h3,
div #socialmedia .icons {
	margin-left: -11px;
	margin-right: 10px;
}


/* Medium screens (tablets) */

@media only screen and (min-width: 40em) {				/* ~480px */
	.main-container {
		display: grid;
		grid:	"nav	nav"  	minmax(0px, auto)		/* 0px to allow nav to be hidden  */
				"main   main"  	minmax(100px, auto)
				"aside1 aside2"	minmax(100px, auto)
				/ 1fr 1fr;
	}
	div.mobil-nav-icon,
	div.mobil-nav {
/*		display: none;	/* show no 'Burger Menu' */
	}
}


/* Large screens (notebooks landscape, desktops) */

@media only screen and (min-width: 60em) {				/* ~770px */
	.main-container {
		grid:	"nav  aside1 aside2"  	minmax(100px, auto)
				"main main   main"  	minmax(100px, auto)
				/ 1fr  1fr  1fr;
	}
	nav.menu-tree {
		height: auto;				/* is no longer replaced by 'burger-menu' */
	}

header div.mobile-nav-icon {
/*		display: none;				/* Do not show 'Burger Menu' */
	}
	div.mobile-nav-icon,
	div.mobile-nav {
		display: none;				/* Do not show 'Burger Menu' */
	}
}


/* Large screens (notebooks, desktops) */

@media only screen and (min-width: 80em) {				/* ~980px */
	.main-container {
		grid:	" main main nav" 	minmax(100px, auto) 
				" main main aside1" minmax(100px, auto) 
				" main main aside2" minmax(100px, auto) 
				/ 1fr  1fr  1fr;
	}
	div.section h2,
	div #socialmedia .icons {	/* 'aside' sections are now in sidebar right */
		margin-left: -21px;
		margin-right: 10px;
		border-radius: 0px 4px 4px 0px;
	}
}


header { grid-area: head; }

nav { grid-area: nav; }

main { grid-area: main; }

#news { grid-area: aside1; }

#tags { grid-area: aside2; }

footer { grid-area: foot; }


