/*************************************/
/* INNOVATION GRID THEME             */
/*                                   */
/* CSS for Burger Menu Icon & Menu   */
/* Used for Mobile Devices           */
/*************************************/

/* BURGER MENU ICON CONTAINER 
Container is set to display: none; in file innovationgrid_2col_grid_aside-*r.css using media query
*/

.mobile-nav-icon {
	display: inline-block;
	text-align: right;
	border: 0px solid white;	/*  */
}

/* Burger-Menu Icon Bars */
.mobile-nav-icon div {	
	color: green;				/*  */
	width: 2em;
	height: 0.3em;
	margin: 0.4em 0;
	border-radius: 0.2em;
	background: #ddd;
	transition: 1.0s;
}
/* Rotate bar1 */
.show-menu .bar1 {
  transform: rotate(-45deg) translate(-0.25em, 0.7em) ;
}
/* Fade out bar2 */
.show-menu .bar2 {
  opacity: 0;
}
/* Rotate bar3 */
.show-menu .bar3 {
  transform: rotate(45deg) translate(-0.25em, -0.8em) ;  
}

/* Burger-Menu Menu */
div.mobile-nav {
	position: absolute;
	display: block;
	right: 0;							/* remain at edge of page */
	width: 100%;
	height: 100%;
	margin-top: 8px;
	text-align: right;
	background: transparent;			/*  */
	overflow: hidden;
	z-index: 10;
	transition: all 1.0s ease-in-out;	/*  */
}

div.mobile-nav nav {	
	position: absolute;
	display: block;
	right: 0;					/* remain at edge of page */
	width: auto;
	height: auto;				/*  */
	padding: 10px 5px 0px 0px;
	text-align: left;			/* Overwrite text-align:left; for header .right:  */
	background: #ddd;
	border-radius: 5px 0px 0px 5px;
	box-shadow: 2px 1px 5px rgba(0,0,0, .07);
	opacity: 0.95;
	transition: all 1.0s ease-in-out;				/*  */
}
div.hide-mobile-nav {
	transform: scaleX(0);							/*  */
	transform-origin: right;
}
div.mobile-nav .hide-menu {
	width: auto ;									/*  */
	height: auto;									/*  */
	transform: translateX(calc(100% + 10px));		/*  */
}


/* BURGER MENU LISTS */

div.mobile-nav li a {
	font-size: 1.2em;		/* Make text larger for smaller devices */
}

