/* * * * * * * * * * * * * * * * * * * * * * * * * * */
/* GRID (header & footer are outside of grid)	 	 */
/* 												     */
/* In this version the sidebar has 3 aside elements	 */
/* on wide screens and is positioned to the right.	 */
/* 													 */
/* * * * * * * * * * * * * * * * * * * * * * * * * * */


/* Small screens (mobil) */
/*************************/

.main-container {
	display: grid;
	grid:	"nav"	  	minmax(0px, auto)		/* 0px to allow nav to be hidden  */
			"main"  	minmax(100px, auto)
			"tagcloud"  minmax(100px, auto)
			"feu"  		minmax(100px, auto)
			/ 1fr ;
}
header .main-nav li {
	white-space: normal;	/* Allow Links in main menu to wrap */
}
nav.menu-tree {
	display: none;				/* Is replaced by 'burger-menu' */
}
div.section h2,
div.section h3,
div #socialmedia .icons {
	margin-left: -11px;
	margin-right: 10px;
}


/* Medium screens (tablets) */
/****************************/

@media only screen and (min-width: 40em) {				/* ~520px */
	.main-container {
		display: grid;
		grid:	" main		main"  	minmax(100px, auto)
				" tagcloud	feu"  	minmax(100px, auto)
				/  1fr		1fr;
	}
	header .main-nav li {
		white-space: nowrap;		/* Stop Links in main menu from wrapping */
	}
}


/* Large screens (notebooks landscape, desktops) */
/*************************************************/

@media only screen and (min-width: 45em) {				/* ~720px */
	.main-container {
		grid:	" main		main"  	minmax(100px, auto)
				" tagcloud	feu"  	minmax(100px, auto)
				/  1fr		1fr;
	}
}


/* Large screens (notebooks, desktops) */
/***************************************/

@media only screen and (min-width: 60em) {					/* ~960px */
	.main-container {
		grid:	" main nav" 		minmax(100px, auto) 
				" main tagcloud"	minmax(100px, auto) 
				" main feu"			minmax(100px, auto) 
				" main ."			minmax(  0px, auto) 	/* Required to get nav & aside */
															/* elements to go to top */
															/* 'align-items: flex-start;' does not work */
				/ 2fr  1fr;
	}
	nav.menu-tree {					/* is no longer replaced by 'burger-menu' */
		display: block;
		height: auto;
	}

	header div.section {
		padding: 0;	
	}
	div.slider-icon,
	div.slider-r nav.mobile-menu {	/* Overwrite 'div.slider-r nav' in mobil-nav.css file */
		display: none;				/* Do not show 'Burger Menu' */
	}
	div.section h2,
	div #socialmedia .icons {		/* 'aside' sections are now in sidebar right */
		margin-left: -21px;
		margin-right: 10px;
		border-radius: 0px 4px 4px 0px;
	}
	#feu .section h2 {
		margin-left: 0px;			/* '#feu .section' has 'padding-left: 0;' due to 'overflow:hidden' on forms */
	}
}


/***************************************/


header { grid-area: head; }

nav { grid-area: nav; }

main { grid-area: main; }

#news { grid-area: news; }

#feu { grid-area: feu; }

#tagcloud { grid-area: tagcloud; }

footer { grid-area: foot; }


