/* * * * * * * * * * * * * * * * * * * */
/* INNOVATION GRID THEME               */
/*                                     */
/* * * * * * * * * * * * * * * * * * * */


body {
	background: #eee;
}

.page {
	margin: 0px auto;
	min-height: 100vh;
}

/* Set max width of contents (as opposed to backgrounds) */
.header .container, 
.breadcrumbs .container, 
.main-container, 
.footer .container {
	max-width: 981px;			/*  */
	margin: 0 auto;
	padding: 0 10px 0 10px;		/* See .main-container (below) */
}

.main-container {
	padding: 0px;				/* See .main-container (above) */
	background: #ddd;
	border-bottom:#DDD 1px solid;
}

main, aside, footer{
	padding: 10px;
}
footer{
	padding: 10px;
}


/* HEADER */

.header  {
	box-sizing: border-box;		/*  */
	border: 1px solid grey;
	background: #6B94B4;
	background: -moz-linear-gradient(top, #6B94B4 0%, #316594 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6B94B4), color-stop(100%,#316594)); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6B94B4', endColorstr='#316594',GradientType=0 );
	border-bottom: #2B5780 1px solid;
		overflow: hidden;		/*  */

}
.header .container {
	display: flex;
	flex-flow: row wrap;		/*  */
	box-sizing: content-box;	/* Position of .left child div varies with window size 
									when 'border-box' is used */
	align-items: flex-start;	/* Vertically position child items */
}


/* HEADER: language */

header .language-menu {
	flex: 1 100%;				/* flex-grow, width */
	padding: 10px 15px 0px 0px;
	text-align: right;
	font-weight: bold;
	color: #ddd;
	text-shadow: 1px 1px 0px rgba(0,0,0, .3);
}
header .language-menu li {
	display: inline-block;
	padding-left: 15px;
}
header .language-menu a:link, 
header .language-menu a:visited {
	color:#ddd;
	text-decoration:none;
}	
header .language-menu .curr a:link, 
header .language-menu .curr a:visited {
	color:#bbb;
	text-decoration:none;
}	
header .language-menu a:hover, 
header .language-menu a:focus {
	color:#fff;
	text-decoration:none;
}	
	

/* HEADER:  */

.header .left {						/* vertical alignment provided by align-items in .header .container (above) */
	flex-grow: 1;					/*  */
	text-align: left;
	padding-top: 5px;
	padding-left: 10px;
	border: 0px solid silver;
}

.header .right {
	flex-grow: 2;					/*  */
	text-align: right;				/* Overwritten for mobil-nav */
	border: 0px solid gray;
}


/* HEADER: logo */

header #logo {
	font-size:35px;
	color:#fff;
	font-family: 'Yanone Kaffeesatz', arial, helvetica, sans-serif;
	text-transform:uppercase;
	text-shadow: 1px 1px 0px rgba(0,0,0, .4);
}
header #logo:link, 
header #logo:visited, 
header #logo:hover, 
header #logo:focus {
	text-decoration:none;
}
.header #logo span {		/* Span tag is dynamically inserted by custom aa-de.js */
	font-size: 0.6em;
}

/* HEADER: navigation */

header .main-nav {
	width: 100%;
	text-shadow: 1px 1px 0px rgba(0,0,0, .3);
}
header .main-nav ul {
	padding: 10px 0 5px 0;
	list-style:none;
}
header .main-nav li {
	display:inline; 		/*  */
	margin:0 0 0 10px;
	white-space: nowrap;
	overflow: hidden;
	line-height: 2em;
}
header .main-nav li a {
	font-size:13px;
	padding:5px 15px;
	text-transform:uppercase;
	font-weight:bold;
}
header .main-nav li a:link, 
header .main-nav li a:visited {
	color:#eee;
	text-decoration:none;
}	
header .main-nav li a:hover, 
header .main-nav li a:focus {
	color:#FFF;
	text-decoration:none;
}
header .main-nav li.current a {
	color:#FFF;
	background:#7096B6;
	background:rgba(255,255,255,.2);
	text-decoration:none;
	border-radius:40px;
	-moz-border-radius:40px;
	-khtml-border-radius:40px;
	-webkit-border-radius:40px;
}


/* HEADER: search */

header div.search {
	vertical-align: middle;
	display: inline-block;			/*  */
	padding: 5px 10px 10px 10px;
	text-align:right;
	border: 0px solid white;	/*  */
}

header div.section {		/* container for mobile burger nav */
	display: inline-block;			/*  */
	vertical-align: middle;
	margin: 0;
	padding: 0px 15px 5px 10px;
	text-align: right;
	border: 0px solid yellow;	/*  */
}


/* HEADER: breadcrumbs */
.breadcrumbs {
	text-shadow: 1px 1px 0px rgba(255,255,255,.5);
	border-top:#FFF 1px solid;
	border-bottom:#ccc 1px solid;
	font-size:11px;
	height:25px;
	line-height:25px;
	color:#666;
	text-transform:uppercase;
	background: #eee;
	background: -moz-linear-gradient(top, #EDEDED 0%, #D5D5D5 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#EDEDED), color-stop(100%,#D5D5D5));
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#EDEDED', endColorstr='#D5D5D5',GradientType=0 ); 
}

.breadcrumbs .container a:link, 
.breadcrumbs a:visited {
	color:#666;
	text-decoration:underline;
}
.breadcrumbs a:focus, 
.breadcrumbs a:hover {
	color:#316594;
	text-decoration:underline;
}

/*	For home/index page - Suppress first 'home' element and separator */
#index .breadcrumbs .wrapper {
	visibility: hidden;	
} 
#index header .breadcrumbs .wrapper>:first-child {
	display:none;			/*  */
} 
#index header .breadcrumbs .wrapper>:nth-child(2) {
	margin-left:-0.7em;
	visibility: visible; 	/*  */
}


/* BODY CONTENT */

main {
	display:block;			/* For IE 11 */
	background:#fff;
}

article {
	width:100%;
	min-height:400px;
/*background:#fff;			/* Now set in main */
	border-bottom:1px solid #c8c8c8;
	border-left:1px solid #e4e4e4;
	border-right:1px solid #c8c8c8;
	-moz-box-shadow: 2px 1px 10px rgba(0,0,0, .07);
	-webkit-box-shadow: 2px 1px 10px rgba(0,0,0, .07);
	box-shadow: 2px 1px 10px rgba(0,0,0, .07);
}
article h1 {
	font-family: 'Yanone Kaffeesatz', arial, helvetica, sans-serif;
	margin:0 0 30px 0;
	color: #275176;
	font-size:37px;
	line-height: 37px;
}
article h2 {
	font-family: 'Yanone Kaffeesatz', arial, helvetica, sans-serif;
	margin:0 0 10px 0;
	color: #222222;
	font-size:30px;
	line-height: 30px;
}
article h3 {
	font-family: 'Yanone Kaffeesatz', arial, helvetica, sans-serif;
	margin:0 0 15px 0;
	color: #275176;
	font-size:25px;
	line-height: 25px;
}
article h4 {
	font-family: 'Yanone Kaffeesatz', arial, helvetica, sans-serif;
	margin:0 0 10px 0;
	color: #555;
	font-size:20px;
	font-weight:100;
}
article h5 {
	font-family: arial, serif;
	margin:0 0 10px 0;
	color: #333;
	font-size:15px;
	line-height: 15px;
}
article h6 {
	font-family: arial, serif;
	margin:0 0 10px 0;
	color: #666;
	font-size:14px;
	line-height: 14px;
}
article section {
	padding: 30px 40px 40px 40px;
	line-height:22px;
	font-size:14px;
	color:#333;	
}
article section p {
	margin:0 0 25px 0;
}
article section p ~ ul {
	margin-top: -23px;		/* AADE */
}
article section p ~ ul.search-results {
	margin-top: 0px;		/* AADE: see also .search-results below*/
}
article section ul, 
article section ol {
	margin:0 0 25px 30px;
}
article section ul ul, 
article section ol ol,
article section ul ol, 
article section ol ul {
	margin:0 0 0 25px;
}
article section code {
	border:1px solid #ccc;
	background:#f6f6f6;
	font-size:12px;
	padding:1px;
}
article section pre {
	border:1px solid #ccc;
	background:#f6f6f6;
	padding:15px;
	margin:0 0 25px 0;
	line-height:16px;
	font-size:13px;
	color:#555;
	text-shadow: 1px 1px 0px #fff;
	border-radius:0 4px 4px 0;
	-moz-border-radius:0 4px 4px 0;
	-khtml-border-radius:0 4px 4px 0;
	-webkit-border-radius:0 4px 4px 0;
}
article section pre code {
	border:none;
	background:none;
	padding:none;
}
article section blockquote {
	margin:0 0 25px 20px;
	color:#555;
	line-height:20px;
	font-family:georgia, garamond, serif;
	font-style:italic;
	padding:0 0 0 15px;
	border-left:1px solid #ccc;
}
article section img {
	border-radius:4px;
	box-shadow: 2px 1px 10px rgba(0,0,0, .2);
}
article section .footer {
	color:#888;
	font-size:11px;
	margin-top:40px;
	border-top:1px dotted #ccc;
	padding-top:15px;
}
article section .footer p {
	margin:0 0 10px 0;
}

article .float-right {
	float: right;
	margin: 5px 0  5px 10px;
}

article .float-left {
	float: left;
	margin: 5px 15px  5px 0;
}


/* ASIDES/SIDEBARS */

.sidebar {
	margin:40px 0 0 0;
}
div.section {					/* See also 'div.main-container nav' below */
	margin:20px 0 20px 0;
	padding:0 10px 0 20px;			/* Compare with margin on child h elments and padding in breadcrumbs*/
	font-size:0.8rem;
	line-height:16px;				/* AADE - sehe unten  */
	color:#555;
	text-shadow: 1px 1px 0px #fff;
}
div.section h2 {					/* See also Media Query (below) */
	background:#444;
	border-top:1px solid rgba(255,255,255,.4);
	text-shadow: 1px 1px 0px rgba(0,0,0,.5);
	text-transform:uppercase;
	background: -moz-linear-gradient(top, #444 0%, #222 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#555), color-stop(100%,#333));
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#444444', endColorstr='#222222',GradientType=0 ); 
	font-family: 'Yanone Kaffeesatz', arial, helvetica, sans-serif;
	font-weight:100;
	color:#fff;
	font-size:19px;
	line-height:19px;
	margin:0 0 20px -20px;			/* Compare with padding on div.section */
	padding:6px 0 5px 35px;			/* Compare with padding on div.section */
	border-radius:4px 4px 4px 4px;
	-moz-border-radius:4px 4px 4px 4px;
	-khtml-border-radius:4px 4px 4px 4px;
	-webkit-border-radius:4px 4px 4px 4px;
}
div.section h3,						/* See also Media Query in innovationgrid_grid_aside-* files */
div.section .feule-login h2,		/* So that the hard-coded h2 tags al least look like h3 */
div.section .feule-register h2 {	/* ditto */
	background:#666;
	border-top:1px solid rgba(255,255,255,.4);
	text-shadow: 1px 1px 0px rgba(0,0,0,.5);
	text-transform:uppercase;
	background: -moz-linear-gradient(top, #666 0%, #444 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#777), color-stop(100%,#555));
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#777777', endColorstr='#555555',GradientType=0 ); 
	font-family: 'Yanone Kaffeesatz', arial, helvetica, sans-serif;
	font-weight:100;
	color:#fff;
	font-size:15px;				/*  */
/*	line-height:15px;			/*  */
	margin:0 0 15px -21px;		/* Compare with padding on div.section */
	padding:6px 0 5px 25px;
	border-radius:4px 4px 4px 4px;
	-moz-border-radius:4px 4px 4px 4px;
	-khtml-border-radius:4px 4px 4px 4px;
	-webkit-border-radius:4px 4px 4px 4px;
}

div.main-container nav {    /* '... :first-child' does not work */
	margin-top: 30px;       /* To align the title with the title in the main element */
                            /* See also 'div.section' above */
}

div.section ul, 
div.section ol {
	margin-left: 10px;
}
div.section p {
	margin:0 0 15px 0;
}

/* Slider Elements - are all defined in mobile-nav.css file */

/* Nav Elements */
/* Apply for both nav in sirebar and nav in slider (see mobile-nav.css file) */

nav ul {						/* See */
	margin-left: 20px;			/* See 'div.section ul' (above) */
}
nav ul li {						/* All list elements */
	list-style: disc;
	padding: 2px 0;				/*  */
/*	font-size: 0.8rem;			/* Is overwritten for smaller devices (see mobile-nav.css file)*/
}
nav ul li.no-bullet {			/* Submenus */
	list-style-type: none;
}
nav ul li li {					/* Only sub level elements */
	list-style: circle;
}
nav ul li a {
	text-decoration: none;		/* Remove underline */
}


/* Tag Cloud Elements */

a.tag {								/* Links in Tag Cloud */
	padding: 7px 7px 7px 0px;
}


/* Form Elements */
/* See also div.section .feule-* h2 above */

#feu .section {
    padding-left: 0px;				/* Reduced as child elements have overflow hidden (see below) */
}
div.feule-login,
div.feule-register {
    max-height: 0px;					/* Forms are not displayed by default */
	margin-left: 20px;				/* Parent '#feu .section' element has no padding-left (see above) */
	padding-left: 20px;				/*  */
	overflow: hidden;				/* Required because of animation */
	transition: all 1s ease-in-out;	/* see also '.show-form' below */
}
.feule-login h2,
.feule-register h2 {
    margin-right: 11px;				/*  */
    padding-left: 10px;				/*  */
}
.feule-login .error,
.feule-register .error {
    margin-bottom: 10px;			/*  */
}
.feule-login > p {
	display: none;					/*  */
}
.feule-login .user_login_welcome_box_container + p {
	display: block;					/* For the Logout link - see '.feule-login > p' (above) */
	margin-top: 10px;
}
.feule-register {
    margin: 0 0 10px 0;				/* Reduce spacing compared with 'div.section p' (above) */
}
.feule-login a,
.feule-form-links a {
/*  display: inline-block;			/* Hides links??? */
	padding-left: 15px;
	text-decoration: underline;		/* 'onclick' links are not automatically underlined */
	cursor: pointer;
}
.feule-form-links p .active {
	text-decoration: none;			/* links are shown as inactive once clicked and form has opened */
	cursor: auto;					/* Effectively sets cursor to 'no link', 
	                                   as elements have no href attribute */
}
.feule-login br {
	display: none;					/* Suppress hard coded new line */
}
div.show-form {
	max-height: 300px;					/* see also '.feule-login, .feule-register' above */
/*	height: auto;					/* see also '.feule-login, .feule-register' above */
	padding-right: 10px;
/*	transition: all 1s ease-in-out;	/*  */
}
.feule-login h2::after,
.feule-register h2::after {
	content: 'X'; 
	float:right;					/*  */
	padding-right: 1em;
}
.feule-register input {
	width: 66%;
}
.user_login_welcome_box_container ~ .feule-form-links {	/* Presence/absense of welcome container
    // is used to trigger css3 sibling combinator to hide 'feule-form-links' container */
	display: none;
}

/* SONSTIGES - FEULE Form Elements */

.feule-login #loginform,
.feule-register #registerform {
    width:90%;
}
/* Login Submit Button */
.user_login_submit {
	float:none;    						/* Default 'float:left' is not necessary, only reduces spacing */
	padding:3px;
}

.feule-login form input,
.feule-register form input {
	border-color: lightgrey;
} 
.feule-login form input:invalid,
.feule-register form input:invalid,
#forgotpassform input,			/* #forgotpassform input:valid and #forgotuserform input:valid are not set 
									as valid/invalid are not set by plugin for these forms */
#forgotuserform input {
	box-shadow: 2px 2px 5px #d3d3d380;	/* lightgrey */
}
.feule-login form input:valid,	/* #forgotpassform input:valid and #forgotuserform input:valid are not set 
									as valid/invalid are not set by plugin for these forms */
.feule-register form input:valid {
	box-shadow: 2px 2px 5px #00640085;	/* darkgreen */
}
.feule-login form input[type="submit"],
.feule-register form input[type="submit"],
a.user-login-logout-link {
	box-shadow: 2px 2px 5px #d3d3d380;	/* lightgrey */
}
.feule-login form input[type="submit"]:active,
.feule-register form input[type="submit"]:active,
a.user-login-logout-link {
	box-shadow: 2px 2px 5px #d3d3d380;	/* lightgrey */
}
/* Register Form Labels */
.feule-register #registerform label{
    display: inline-block; 
    width: 30%;
}
.feule-register #registerform input{
    width:65%;
    float:right;
}

div.user_login_welcome_box_container {
	width: auto;							/* Overwrite fixed width from plugin */
	margin: 0 10px 10px 20px;
/*	padding-left: 0;						/*  */
/*	border: 1px solid blue;					/*  */
}
a.user-login-logout-link {
	margin: 15px 0 0 20px;
	padding: 3px 5px;
	border: 1px solid grey;					/*  */
}

/* SONSTIGES - FEULE In-Main  Form Elements */

section .register_h2 {
	padding-top: 20px;
	border-top: 1px solid grey;
}
#forgotpassform,
#forgotuserform {
	margin-bottom: 20px;
	border-bottom: 1px solid grey;
}
#forgotpassform p:last-child, 
#forgotuserform p:last-child {
	margin-bottom: 20px;
}


/* SEARCH RESULTS */

li.search-entry {
	padding-bottom: 10px;
}
h3.search-entry-title {
	margin-bottom: 10px;
}


/* SIDEBAR: socialmedia */

div #socialmedia {
	position:relative;
}
div #socialmedia h2 {
	width:65px;
	background: #316594;
	background: -moz-linear-gradient(top, #316594 0%, #2C5983 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#316594), color-stop(100%,#2C5983));
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#316594', endColorstr='#2C5983',GradientType=0 ); 
}
div #socialmedia .icons {
	position:absolute;
	top:3px;
	right:0px;	
}


/* FOOTER */

footer .footer {
	align-items: top;					/* vertically center child items */
	padding: 0 10px;
	font-size:11px;
	line-height:15px;
	color:#666;
	text-transform:uppercase;
	text-shadow: 1px 1px 0px rgba(255,255,255,.5);
/*	border-top:#CCC 1px solid;			/* Now on .main-container */
	border-bottom:#FFF 1px solid;
/*overflow: hidden; 					/* hat nicht funktioniert */
}
.footer .container {
	display: flex;
	flex-wrap: nowrap;			/*  */
	box-sizing: border-box;		/*  */
	align-items: top;			/* vertically center child items */
	background: #eee;
}
.footer .left {
	flex-grow: 1;				/*  */
	text-align: left;
	border: 0px solid grey;
}
.footer .right {
	flex-grow: 2;				/*  */
	text-align: right;
	border: 0px solid gray;
}


.footer p {
	padding: 5px 0;
}
.footer a:link, .footer a:visited {
	color:#888;
	text-decoration:underline;
}
.footer a:hover, .footer a:focus {
	color:#555;
	text-decoration:underline;
}

