/*************************************/
/* INNOVATION GRID THEME             */
/*                                   */
/* CSS for Burger Menu Icon & Menu   */
/* Used for Mobile Devices           */
/*************************************/

/* SLIDER ICON CONTAINER 
Container is set to display: none; for wide screens in file innovationgrid_2col_grid_aside-*r.css using media query
*/

.slider-icon {
	display: inline-block;
	text-align: right;
	border: 0px solid white;	/*  */
}

/* Burger Icon Bars */

.slider-icon div {	
	color: green;				/*  */
	width: 2em;
	height: 0.3em;
	margin: 0.4em 0;
	border-radius: 0.2em;
	background: #ddd;
	transition: 1.0s;
}
/* Rotate bar1 */
.slider-icon-active .bar1 {
  transform: rotate(-45deg) translate(-0.25em, 0.7em) ;
}
/* Fade out bar2 */
.slider-icon-active .bar2 {
  opacity: 0;
}
/* Rotate bar3 */
.slider-icon-active .bar3 {
  transform: rotate(45deg) translate(-0.25em, -0.8em) ;  
}

/* Burger/Slider Mobile Menu */

div.slider-r {
	position: absolute;
	display: block;
	right: 0;							/* remain at edge of page */
	width: 100%;
	height: 100%;
	margin-top: 8px;
	text-align: right;
	background: transparent;			/*  */
	overflow: hidden;
	z-index: 10;
	transition: all 1.0s ease-in-out;	/*  */
}

div.slider-r nav {	
	position: absolute;						/*  */
	display: block;							/*  */
	right: 0;								/* remain at edge of page */
/*	width: auto;							/*  */
/*	height: auto;							/*  */
	padding: 15px 15px 15px 20px;			/*  */
	text-align: left;			/* Overwrite text-align:right; for header .right:  */
	font-size: 0.9rem;			/* Make text larger for smaller devices */
	background: #ddd;								/*  */
/*	background-color: pink;							/*  */
	opacity: 0.95;									/*  */
	border-radius: 5px 0px 0px 5px;					/*  */
	box-shadow: 2px 1px 5px rgba(0,0,0, .07);		/*  */
	transition: all 1.0s ease-in-out;				/*  */
}
div.slider-r nav {			/* To overwrite 'nav.ul.li' in base.css */
/*	font-size: 0.9rem;			/* Make text larger for smaller devices */
}
div.slider-r nav h3 {			/* Overwrites value in *r.css */
	margin-left: -5px;			/*  */
	margin-right: 0;			/*  */
}
div.slider-r nav>ul {			/* To overwrite 'nav.ul.li' in base.css */
	font-weight: bolder;		/* To improve readability */
}
div.show-slider-r {
	transform: scaleX(0);							/*  */
	transform-origin: right;
}


/* BURGER MENU LISTS */

div.slider-r nav ul ul {
/*	padding-top: 5px;		/* For sub-menus, which are within parent li element */
}
nav ul li {
/*	padding: 2px 0;			/*  */
}
div.slider-r nav ul li:last-child {
/*	padding-bottom: 0px;	/*  */
}


